doc/**/*.bkp

# Eclipse related
.project
.pydevproject

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Coverage analysis output
**/coverage

# Dinja code generation output
doc/sql_schemes/*/generated/

# Visual Studio Code
.vscode/

