name: trad
description: The ultimate app for climbing in Saxony
version: 0.0.1
repository: https://github.com/Headbucket/trad

environment:
  sdk: ^3.4.0

dev_dependencies:
  melos: ^6.1.0
  very_good_analysis: ^5.1.0
