[build-system]
requires = ["setuptools>=75.3"]
build-backend = "setuptools.build_meta"

[project]
name = "trad_scraper"
dynamic = ["version"]
description = "Route data scraper for the trad mobile application."
authors = [
  {name = "Karsten Wesenigk"},
  {name = "Thomas Wesenigk"}
]
classifiers = ["Private :: Do Not Upload"]
requires-python = ">=3.12.7"
dependencies = [
  "beautifulsoup4",
  "pandas[html]",
  "requests",
]

[project.optional-dependencies]
dev = [
  "black",
  "invoke",
  "pytest",
]

[project.urls]
Home = "https://github.com/Headbucket/trad"
